<div class="widgets">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12">
      <ba-card title="" baCardClass="with-scroll">
        <bc-individual [prefix]="prefix" [rights]="userRight"></bc-individual>
        <bc-collective [prefix]="prefix" [rights]="userRight"></bc-collective>
      </ba-card>
    </div>
  </div>
</div>

<ba-card title="List of Vendor" baCardClass="with-scroll" class="smart-table-container">
  <div class="row">
    <vdr-nx></vdr-nx>
    <button (click)="onClick('vdr01')" type="button" class="btn btn-primary btn-with-icon"><i class="ion-android-search"></i>View item</button>
    <button (click)="onClick('vdr02')" type="button" class="btn btn-primary btn-with-icon"><i class="ion-android-create"></i>Edit item</button>

  </div>
</ba-card>
