<div class="widgets">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12">
      <ba-card title="" baCardClass="with-scroll">
        <bc-individual [prefix]="prefix" [rights]="userRight"></bc-individual>
        <bc-collective [prefix]="prefix" [rights]="userRight"></bc-collective>
      </ba-card>
    </div>
  </div>
</div>

<ba-card title="List of Manual Journal Entries" baCardClass="with-scroll" class="smart-table-container">
  <div class="row">
    <mje-list></mje-list>
  </div>
</ba-card>
