<div class="btn-group-example">
  <h5 class="panel-subtitle">Collective Processing</h5>
  <div class="btn-group" role="group" aria-label="Collective">
    <button type="button" class="btn btn-danger btn-with-icon"><i class="ion-android-upload"></i>Upload</button>
    <button type="button" class="btn btn-danger btn-with-icon"><i class="ion-android-download"></i>Extract</button>
    <button type="button" class="btn btn-danger btn-with-icon"><i class="ion-android-cloud-done"></i>Update</button>
    <button type="button" class="btn btn-danger btn-with-icon"><i class="ion-android-cloud"></i>Disable</button>
    <button type="button" class="btn btn-danger btn-with-icon"><i class="ion-android-cloud-outline"></i>Enable</button>
    <button type="button" class="btn btn-danger btn-with-icon"><i class="ion-android-time"></i>History</button>
  </div>
</div>
