<form>
  <div class="form-group">
      <label for="lge" translate>{{'shared.lge'}}</label>
      <input type="text" class="form-control" id="lge" placeholder="{{'shared.lge' | translate}}">
  </div>
  <div class="form-group">
      <label for="lead" translate>{{'shared.lead'}}</label>
      <input type="text" class="form-control" id="lead" placeholder="{{'shared.lead' | translate}}">
  </div>
  <button type="button" (click)="onClick(6)" class="btn btn-primary" translate>{{'shared.proceed'}}</button>
</form>
